---
layout: base
permalink: /index.html
title: 'Vox Feralis'
description: 'News, Auftritte und Musik von Vox Feralis'
blog:
  title: 'News'
  intro: ""
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <p>
        Vox Feralis vereint den rauen, ungezähmten Thrash-Sound ihrer Helden mit einem eigenen Sinn für Melodie. Flinke Riffs wechseln sich ab mit Gitarrensoli, die dein Hirn kräftig durchrühren und Refrains, die dir lange nicht mehr aus dem Kopf gehen, egal wie wild du headbangst. Und just wenn es vorhersehbar wird, streuen sie Einflüsse aus anderen Genres geschmackvoll ein. Enjoy!
      </p>
    </div>
  </article>

  <section class="full | region">
    <div class="prose wrapper flow">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
